header{
	font-size:25px;
	
}

h1, p{
	padding:15px;
}

header, main, footer{
	
	max-width:1080px;
	margin: 0 auto;
	margin-bottom:20px;
	background: #c3c3c3;	
}

.catrow{
	
	padding: 10px 0;
	background:green;
	margin-bottom:3px;
}

#addinterface{
	
	border:2px dashed #000;
}

.inprow{
	padding:15px 0;
	margin-left:20px;
}

.validator{
	
	color:red;
}